<div class="mt-4">
    <form method="POST" action="/posts/store">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name = "title">
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" name = "description">
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="text" class="form-control" id="image" name = "image">
        </div>

        <div class="mb-3">
            <label for="videoID" class="form-label">VideoID</label>
            <input type="text" class="form-control" id="videoID" name = "videoID">
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>